---
export const links = [
  { name: 'home' },
  { name: 'about' },
  { name: 'projects' },
  { name: 'contact' },
  // { name: 'blog' },
  // { name: 'translate' },
]
---
<nav id="navbar">
  {links.map(link => {
    if (link.name === 'home') {
      return (
        <div class="container">
          <a id=`nav-${link.name}` class="home-link" href="#home" >
            <svg class="navLogo" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 505 479">
              <path stroke="" fill="currentColor" d="M71.3348 5.29888C69.3625 1.96107 65.1113 1.10442 61.9156 2.97418C18.3641 28.4554 15.8709 30.0372 13.317 31.5139C12.1277 32.2016 10.9251 32.8665 5.55665 35.9118C2.14709 37.8458 0.972025 42.2254 2.98526 45.6022L3.19449 45.9531C6.92214 52.2056 7.85579 53.7717 9.66553 56.2132C11.8335 59.1379 15.8653 59.8219 18.91 57.9684C26.2387 53.5068 34.0164 48.9248 42.4988 43.9277C46.8651 41.3555 51.4181 38.6732 56.1927 35.8408C57.6432 34.9803 59.5182 35.477 60.3512 36.9399C66.4391 47.6325 72.7111 58.5091 78.9799 69.3801L79.1075 69.6014C85.4198 80.5479 91.7275 91.4873 97.8453 102.236C99.6396 105.389 103.631 106.719 106.933 104.872C108.713 103.877 110.715 102.697 112.693 101.531C114.3 100.584 115.892 99.6461 117.334 98.8248C120.885 96.8033 122.289 92.1313 120.117 88.5275C113.397 77.3805 99.373 53.3217 87.6575 33.2234C80.7651 21.3993 74.6718 10.946 71.3348 5.29888ZM319.774 6.75487C317.824 3.35711 313.484 2.18084 310.088 4.14219C262.337 31.7151 213.59 60.0339 164.845 88.3512L164.812 88.3706C116.056 116.695 67.3027 145.017 19.547 172.593C16.1761 174.539 15.0463 178.854 17.012 182.205C18.8923 185.411 20.815 188.702 22.7219 191.965C27.6352 200.373 32.4433 208.602 36.1498 214.736C46.9544 233.559 57.5091 252.383 68.0603 271.217L69.2109 273.271C79.3808 291.425 89.5558 309.588 99.9484 327.752C101.794 330.977 105.831 332.189 109.15 330.553L109.949 330.16C113.02 328.647 116.268 327.047 119.394 325.433C122.943 323.6 124.127 319.19 122.145 315.8C97.307 273.313 72.9274 230.016 48.5537 186.691C47.7462 185.256 48.2459 183.439 49.6732 182.619C91.9911 158.305 134.56 133.743 177.126 109.182L177.176 109.153C219.76 84.5823 262.342 60.0125 304.673 35.6915C306.094 34.8749 307.898 35.3521 308.723 36.7529C315.051 47.4927 321.195 58.4239 327.35 69.3759L327.413 69.4862C333.585 80.469 339.771 91.4722 346.147 102.287C348.014 105.452 352.008 106.612 355.283 104.975L365.782 99.7255C369.445 97.8938 370.772 93.3324 368.666 89.8209C358.102 72.2061 329.077 22.9695 319.774 6.75487ZM494.472 48.498C492.372 45.4614 488.241 44.4048 484.966 46.3055C449.293 67.0103 413.132 87.9592 376.971 108.909L376.876 108.964C340.746 129.895 304.615 150.826 268.97 171.515C265.606 173.467 264.509 177.792 266.456 181.123C273.152 192.577 279.064 202.665 284.495 211.931C307.735 251.586 322.169 276.215 351.496 328.596C353.352 331.91 357.571 333.205 360.946 331.295C362.399 330.473 363.872 329.631 365.341 328.792C366.889 327.907 368.433 327.025 369.944 326.171C373.107 324.384 374.443 320.437 372.633 317.117C365.911 304.784 344.71 268.062 311.4 210.369C307.055 202.844 302.504 194.962 297.753 186.731C296.918 185.285 297.413 183.434 298.829 182.612C349.206 153.359 400.009 124.089 450.065 95.2498C466.316 85.8868 482.488 76.5692 498.542 67.3122C501.993 65.3224 503.12 60.8101 500.799 57.4719C499.751 55.9649 498.718 54.5121 497.702 53.0829C496.605 51.5399 495.528 50.0245 494.472 48.498ZM163.334 432.524C163.345 432.536 163.375 432.567 163.423 432.609C163.429 432.618 163.434 432.626 163.44 432.635C163.777 433.166 164.48 434.322 165.937 436.77C168.843 441.65 174.696 451.584 186.494 471.715C188.4 474.965 192.702 476.324 196.098 474.371L486.533 307.344C487.835 306.596 488.816 305.395 489.291 303.97C489.846 302.305 489.661 300.482 488.782 298.963L403.305 151.225C402.047 149.052 399.706 147.73 397.219 147.73C395.929 147.73 394.645 148.087 393.537 148.769L384.74 154.182C381.537 156.153 380.463 160.304 382.313 163.581C394.385 184.952 406.682 206.321 418.974 227.683L419.008 227.742C431.29 249.086 443.567 270.423 455.619 291.758C456.425 293.184 455.935 294.993 454.518 295.818C412.192 320.472 369.614 345.127 327.033 369.783L326.441 370.126C284.059 394.667 241.675 419.209 199.54 443.749C198.108 444.583 196.271 444.098 195.437 442.665L158.203 378.699C156.24 375.327 151.898 374.211 148.552 376.218L140.866 380.829C137.513 382.841 136.604 387.25 138.501 390.495C150.667 411.298 156.803 421.748 159.9 426.978C161.445 429.588 162.243 430.914 162.658 431.58C162.849 431.885 163.006 432.13 163.133 432.294C163.168 432.34 163.237 432.426 163.33 432.52L163.334 432.524ZM156.018 151.394C155.397 150.25 154.432 149.287 153.201 148.788C151.932 148.274 150.498 148.305 149.161 148.986C146.881 150.147 143.191 152.317 137.228 155.893C133.621 158.056 132.588 162.94 134.733 166.434C143.623 180.91 169.672 226.084 206.201 291.764C206.996 293.194 206.506 295.001 205.118 295.823L6.38656 413.397C3.0947 415.344 1.97551 419.573 3.87315 422.894L8.16614 430.407C9.81412 433.291 13.2412 434.428 16.2711 432.783C30.4195 425.103 85.5282 393.61 154.981 353.92C180.893 339.112 208.801 323.163 237.324 306.884C240.683 304.967 241.864 300.677 239.928 297.315C230.779 281.429 221.549 265.671 212.339 249.946C193.18 217.237 174.106 184.671 156.018 151.394ZM408.982 378.304C408.249 377.054 407.135 376.091 405.762 375.679C404.369 375.26 402.881 375.462 401.557 376.244C400.362 376.949 398.817 377.888 396.983 379.004C395.11 380.143 392.935 381.465 390.523 382.91C387.127 384.942 386.099 389.412 388.209 392.734C391.536 397.974 392.399 399.217 392.682 399.613C392.789 399.842 393.005 400.283 393.571 401.341C395.844 405.594 404.008 420.282 434.385 472.773C436.312 476.103 440.728 477.454 444.146 475.372C461.684 464.69 486.31 449.599 497.579 442.681C501.014 440.572 501.882 436.111 500 432.77C498.764 430.575 497.547 428.234 496.444 426.115C495.997 425.255 495.57 424.432 495.167 423.67C493.434 420.39 489.528 419.53 486.489 421.315C482.481 423.669 478.044 426.368 473.495 429.135C465.416 434.049 456.982 439.179 449.956 442.985C448.623 443.707 446.931 443.238 446.125 441.863C440.192 431.746 434.042 421.204 427.891 410.659C421.509 399.719 415.126 388.777 408.982 378.304Z"></path>
            </svg>
            <h1>Freddy</h1>
          </a>
        </div>
      )
    }
    if (link.name === 'translate') {
      return (
        <a id=`nav-${link.name}` class="nav-link translate" href="#" >
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-language-hiragana" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 5h7" /><path d="M7 4c0 4.846 0 7 .5 8" /><path d="M10 8.5c0 2.286 -2 4.5 -3.5 4.5s-2.5 -1.135 -2.5 -2c0 -2 1 -3 3 -3s5 .57 5 2.857c0 1.524 -.667 2.571 -2 3.143" /><path d="M12 20l4 -9l4 9" /><path d="M19.1 18h-6.2" /></svg>
        </a>
      )
    }
    return <a id=`nav-${link.name}` class="nav-link" href=`${link.name === 'blog' ? "/" : "#"}${link.name}` >{link.name}</a>
  })}
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const navlinks = document.querySelectorAll('nav a');
    const navbar = document.getElementById('navbar');
    const sections = [
      {
        name: "home",
        element: document.getElementById('home')
      },
      {
        name: "about",
        element: document.getElementById('about')
      },
      {
        name: "projects",
        element: document.getElementById('projects')
      },
      {
        name: "contact",
        element: document.getElementById('contact')
      },
    ]

    window.addEventListener('load', () => {
      navlinks.forEach(link => {
        link.children[1].classList.add('name-off')
      })
    })

    window.addEventListener('scroll', () => {
      let currentSection = '';
      let sectionTop = 0;
      let sectionBottom = 0;

      sections.map(section => {
        sectionTop = section.element!.offsetTop - navbar!.offsetHeight;
        sectionBottom = sectionTop + section.element!.offsetHeight;

        if (window.scrollY >= sectionTop && window.scrollY < sectionBottom) {
          currentSection = section.name;
        };
      });

      navlinks.forEach(link => {
        link.classList.remove('active');

        link.children[1] ? link.children[1].classList.remove('name-off') : ""

        if (link.getAttribute('href')!.substring(1) === currentSection) {
          link.getAttribute('href')!.substring(1) === 'home'
            ? link.children[1].classList.add('name-off')
            : link.classList.add('active')
        };
      });
    });
  });
</script>

<style>
  #navbar {
    background-color: #141414;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 100%;
    height: 10vh;
    max-height: 100px;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5em;
    gap: 0.5em;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
    font-size: max(1.4em, 1.3vw);
    border-bottom: 1px solid #FFF7ED;
    z-index: 3;

    view-timeline-name: --navbar;
    view-timeline-axis: block;

    animation-timeline: --navbar;
    animation-name: show;

    animation-range: entry 0% cover 30%;
    animation-fill-mode: both;
  }
  .container {
    width: 100%;
  }
  .home-link{
    width: 8.5em;
    margin-left: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 0.6em;
  }
  .navLogo{
    width:  40px;
    height: 40px;
    stroke: #FFF7ED;
    color: #FFF7ED;
    stroke-width: 5px;
    transition: .3s;
  }
  h1 {
    color: #FFF7ED;
    padding: 0.2em 0.4em;
    border-radius: 5px;
    border: 1px solid #141414;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    transition: .3s;
  }
  .name-off{
    opacity: 0;
    transition: .3s;
  }
  .nav-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #FFF7ED;
    font-weight: 500;
    padding: 0.2em 0.4em;
    border-radius: 5px;
    border: 1px solid #141414;
    transition: 300ms;
  }
  .translate{
    margin-left: -0.2em;
    padding: 0.25em 0.25em;
  }
  .active {
    border: 1px solid #FFF7ED;
    background: rgba(255, 247, 237, 0.10);
    box-shadow: 0px 0px 10px 0px rgba(255, 247, 237, 0.50);
    scale: 1.05;
    transition: 300ms;
  }
  .home-link:hover .navLogo{
    transform: rotate(30deg);
    scale: 1.1;
    transition: .3s;
  }
  .home-link:hover h1{
    border: 1px solid #FFF7ED;
    background: rgba(255, 247, 237, 0.10);
    box-shadow: 0px 0px 10px 0px rgba(255, 247, 237, 0.50);
    scale: 1.05;
    transition: 300ms;
  }
  .nav-link:hover{
    border: 1px solid #FFF7ED;
    background: rgba(255, 247, 237, 0.10);
    box-shadow: 0px 0px 10px 0px rgba(255, 247, 237, 0.50);
    scale: 1.05;
    transition: 300ms;
  }
  @keyframes show {
    70% {
      background-color: #141414;
      top: 0px;
      width: 100%;
      border-bottom: 1px solid #FFF7ED;
    }
    100%{
      background-color: #14141457;
      backdrop-filter: blur(10px);
      top: 1px;
      width: 99.5%;
      border-radius: 0.1em;
      border-bottom: 0px solid #141414;
    }
  }
</style>