---
import Html5 from "./icons/Html5.astro";
import Css3 from "./icons/Css3.astro";
import JavaScript from "./icons/JavaScript.astro";
import React from "./icons/React.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import Next from "./icons/Next.astro";

const TAGS = {
    HTML: {
        name: "HTML5",
        icon: Html5,
    },
    CSS: {
        name: "CSS3",
        icon: Css3,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        icon: JavaScript,
    },
    REACT: {
        name: "React",
        icon: React,
    },
    ASTRO: {
        name: "Astro",
        icon: AstroIcon,
    },
    NEXTJS: {
        name: "Next.js",
        icon: Next,
    },
}
const PROJECTS = [
    {
        title: "Digital platform for pharmacists",
        image: "https://mediaforvalue.com/wp-content/uploads/2023/05/funcionalidades.png",
        body: "I am collaborating on a digital platform created for the daily management of pharmacies.",
        link: "https://mediaforvalue.com",
        // code: "",
        tags: [TAGS.REACT, TAGS.NEXTJS]
    },
    {
        title: "Product Landing page",
        image: "https://freddy-tacuri.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F964513da-6865-48ee-a858-33d5750fb0f1%2F9d08e381-5e86-4f2c-8eb1-40957f60ec39%2FproductLandingPage.jpg?table=block&id=49753469-462b-478b-b16a-95c5e759ada9&spaceId=964513da-6865-48ee-a858-33d5750fb0f1&width=2000&userId=&cache=v2",
        body: "Crafting a captivating landing page for showcasing a standout product and driving conversions.",
        link: "https://freddyz5.github.io/xboxControl/",
        code: "https://github.com/Freddyz5/xboxControl",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT]
    },
    {
        title: "Dark Souls Fan Page",
        image: "https://freddy-tacuri.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F964513da-6865-48ee-a858-33d5750fb0f1%2F6b5fbe08-10d8-4429-bdea-5416094128eb%2Fdarksouls.jpg?table=block&id=3c34d788-c08e-4711-8f57-43ee9c37d518&spaceId=964513da-6865-48ee-a858-33d5750fb0f1&width=2000&userId=&cache=v2",
        body: "Designing an immersive landing page for a dynamic video game, enticing players to explore its virtual realm.",
        link: "https://freddyz5.github.io/darkSouls/",
        code: "https://github.com/Freddyz5/darkSouls",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT]
    },
    {
        title: "Random Quote Machine",
        image: "https://freddy-tacuri.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F964513da-6865-48ee-a858-33d5750fb0f1%2F5c78a960-708b-4235-b11f-45ead4cc6601%2FrandomQuoteMachine.jpg?table=block&id=e564bca7-20e0-4421-862a-7197a8d0d668&spaceId=964513da-6865-48ee-a858-33d5750fb0f1&width=2000&userId=&cache=v2",
        body: "Delivering inspiration and wisdom with each click.",
        link: "https://codepen.io/Freddyz5/full/XWxgqVZ",
        code: "",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT]
    },
]
---

<section id="projects">
    <h1 class="" data-section="projects" data-value="title" >Projects</h1>
    <div class="container-cards">
        {
            PROJECTS.map(({title, image, body, link, code, tags}, index)=> (
                <article class="card" >
                    <span class="card-img">
                        <figure>
                            <img src={image} alt={title}/>
                        </figure>
                    </span>
                    <span class="card-content">
                        <h2 data-section="projects" data-value={`cardTitle${index + 1}`}>{title}</h2>
                        <div class="tags">
                            {tags.map(tag => (
                                <li><tag.icon /></li>
                            ))}
                        </div>
                        <p class="body" data-section="projects" data-value={`cardBody${index + 1}`}>{body}</p>
                        <div class="buttons">
                            { code ? <a class="button-bw" href={code} target="_blank"><p class="button-text-bw">Code</p></a> : <></>}
                            <a class="button-color" href={link} target="_blank"><p class="button-text-color">Preview</p></a>
                        </div>
                    </span>
                </article>
            ))
        }
    </div>
</section>

<style>
    #projects {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 8vw 0;
        /*Modificar 10px si se desea cambiar el espacio */
		background-image: radial-gradient(circle at center center,transparent 0%,rgba(255,255,255,0) 99%),repeating-linear-gradient(0deg,rgba(205,205,205,.2) 0px,rgba(205,205,205,.2) 1px,transparent 1px,transparent 10px),repeating-linear-gradient(90deg,rgba(205,205,205,.2) 0px,rgba(205,205,205,.2) 1px,transparent 1px,transparent 10px),linear-gradient(90deg,rgba(255,255,255,0),rgba(255,255,255,0));
    }
    #projects::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, transparent 85%, #141414 100%), linear-gradient(to bottom, transparent 85%, #141414 100%);
        z-index: 0; 
    }
    h1 {
        font-size: min(7vw, 3em);
        margin: 6vw 0 1em 0;
        padding: 8px 15px;
        color: #A31621;
        text-shadow: 0px 0px 4px #A31621;
        font-weight: 700;
        border-radius: 12px;
        backdrop-filter: blur(2px);
		box-shadow: 0px 0px 20px 0px #fff7ed8e;
    }
    .container-cards {
        width: 80vw;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        gap: 4em;
    }
    .card {
		display: flex;
        align-items: center;
        gap: 1.5em;
		color: #FFF7ED;
		padding: 1em; 
		border-radius: 15px;
		/* border: 1px solid #FFF7ED; */
		box-shadow: 0px 0px 20px 0px #fff7ed8e;
		/* background: #090909; */
        backdrop-filter: blur(2px);
		filter: grayscale(50%);
		transition: .3s;
	}
    .card-img{
        width: 100%;
        height: 250px;
        position: relative;
    }
	figure {
        width: 100%;
        height: 250px;
        position: absolute;
        bottom: 0%;
        transition: bottom .3s;
    }
    img {
		width: 100%;
		border-radius: 10px;
	}
    .card-content{
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
	h2 {
		font-size: 2em;
		font-weight: 800;
		line-height: 32px; /* 128% */
		letter-spacing: -0.8px;
	}
    .tags {
		display: flex;
        align-items: center;
		gap: 10px;
	}	
    li {
		display: flex;
        align-items: center;
        font-weight: 500;
        padding: 0.2em 0.4em;
        color: #141414;
        background-color: #fff7ed6e;
        border-radius: 8px;
        border: 1px solid #FFF7ED;
	}
	.body {
        height: 200px;
		font-size: 15px;
		font-weight: 400;
		line-height: 21px; /* 140% */
		letter-spacing: -0.14px;
	}
    .buttons{
        display: flex;
        gap: 1em;
    }
    .button-color, .button-bw {
        width: fit-content;
        color: #FFF7ED;
        text-decoration: none;
        padding: 1px;
        border-radius: 8px;
        transition: .3s;
    }
    .button-color{
        background: linear-gradient(90deg, #25E5EB 0%, #C01522 100%);
    }
    .button-bw{
        background: #FFF7ED;
    }
    .button-text-color, .button-text-bw {
        background-color: #090909;
        border-radius: 8px;
        padding: 0.4em 0.8em;
        transition: .3s;
        font-size: 1.25em;
    }
    .button-color:hover .button-text-color, .button-bw:hover .button-text-bw {
        background-color: #090909BF;
        transition: .3s;
    }
    .button-bw:hover .button-text-bw{
        color: #141414;
        background-color: #1414146c;
    }
    .button-color:hover, .button-bw:hover {
        scale: 1.05;
        transition: .3s;
    }
	svg {
        width: 20px;
        height: 20px;
    }
    .card:hover{
		/* border: 1px solid #40A8AF; */
		box-shadow: 0px 0px 20px 0px rgba(24, 65, 67);
		filter: grayscale(0);
		scale: 1.1;
		transition: .3s;
	}
    .card:hover figure{
        bottom: 15%;
        transition: .3s;
    }
    @media only screen and (max-width: 760px) {
        .card{
            background-color: aqua;
        }
    }
</style>